---
import Layout from "../layouts/Layout.astro";
import connector from "../components/datocms/connector";
import { StructuredText } from "../components/datocms";
import { HeadingWithAnchorLink } from "../components/datocms/HeadingWithAnchorLink";
import { PageInline } from "../components/datocms/inlineRecord/PageInline";
import { PageLink } from "../components/datocms/linkToRecord/PageLink";
import { VideoBlock } from "../components/datocms/blocks/VideoBlock";
import { ImageBlock } from "../components/datocms/blocks/ImageBlock";
import { ImageGalleryBlock } from "../components/datocms/blocks/ImageGalleryBlock";

const homePageContent = await connector("fetchHomePage");
const featuredProducts = await connector("fetchFeaturedProducts");
const featuredProductsData = (featuredProducts as any)?.allProducts ?? [];

const featuredPublicProducts = featuredProductsData.filter(
  (product: any) =>
    !product.category?.some(
      (category: any) => category.category === "Theocratic",
    ),
);

const lang = 'en';
---

<Layout locale={lang}>
  <section class="container max-w-3xl mx-auto [&_p]:text-md [&_p]:my-4 [&_h2]:mt-8 [&_h2]:mb-4 [&_h2]:text-2xl" id="intro">
    <div class="w-full">
      <h1 class="text-3xl mt-8 mb-4">{homePageContent.homepage.introTitle}</h1>
      <StructuredText
        data={homePageContent.homepage.introStructuredText}
        blockComponents={{
          ImageBlockRecord: ImageBlock,
          ImageGalleryBlockRecord: ImageGalleryBlock,
          VideoBlockRecord: VideoBlock,
        }}
        linkToRecordComponents={{
          PageRecord: PageLink,
        }}
        inlineRecordComponents={{
          PageRecord: PageInline,
        }}
        nodeOverrides={{
          heading: HeadingWithAnchorLink,
        }}
      />
    </div>
  </section>

  <section class="container max-w-3xl mx-auto [&_p]:text-md [&_p]:my-4 [&_h2]:mt-8 [&_h2]:mb-4 [&_h2]:text-2xl" id="featured-products">
    {JSON.stringify(featuredPublicProducts)}
  </section>

  <section class="container max-w-3xl mx-auto [&_p]:text-md [&_p]:my-4 [&_h2]:mt-8 [&_h2]:mb-4 [&_h2]:text-2xl" id="intro">
    <div class="w-full">
      <h2>{homePageContent.homepage.aboutTitle}</h2>
      <StructuredText
        data={homePageContent.homepage.aboutStructuredText}
        blockComponents={{
          ImageBlockRecord: ImageBlock,
          ImageGalleryBlockRecord: ImageGalleryBlock,
          VideoBlockRecord: VideoBlock,
        }}
        linkToRecordComponents={{
          PageRecord: PageLink,
        }}
        inlineRecordComponents={{
          PageRecord: PageInline,
        }}
        nodeOverrides={{
          heading: HeadingWithAnchorLink,
        }}
      />
    </div>
  </section>
</Layout>
