---
const { navLinks, lang = "en" } = Astro.props;

import Logo from "../assets/logo.png";
---

<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <div class="container mx-auto flex flex-col md:flex-row justify-between">
    {
      Boolean(navLinks?.length) && (
        <nav>
          <h6 class="footer-title">Navigation:</h6>
          <ul>
            {navLinks.map((navlink) => (
              <li>
                <a class="btn" href={navlink.url}>
                  {navlink.title}
                </a>
              </li>
            ))}
          </ul>
        </nav>
      )
    }
    <div>
      <a href="/" class="px-2 mb-6">
        <img src={Logo.src} alt="Logo" class="h-12" />
      </a>
      <p class="mb-6">All artwork and items &copy; HE Designs. All rights reserved.</p>
      <ul class="flex flex-row gap-2">
        <li><a href={`/${lang}/privacy/`} class="btn">Privacy</a></li>
        <li><a href={`/${lang}/cookies/`} class="btn">Cookies</a></li>
        <li><a href={`/${lang}/terms/`} class="btn">Terms</a></li>
      </ul>
    </div>
    <div>
      <h6 class="footer-title">Your products:</h6>
      <nav>
        <ul class="w-full flex gap-2 flex-col">
          <li><a class="btn w-full btn-primary" href={`/${lang}/checkout/`}>Checkout now</a></li>
          <li><a class="btn w-full" href={`/${lang}/your-cart/`}>View Your Cart</a></li>
          <li><a class="btn w-full" href={`/${lang}/products/`}>All products</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
