---
const { locale = "en" } = Astro.props;
---

<script>
  import { UPDATE_CART } from "./cart-actions";

  /**
   *
   * button fires events
   *
   */
  document.addEventListener("click", (event) => {    
    const target = event.target;

    if (!(target instanceof HTMLElement)) return;

    const button = target.closest("[data-cart-button]");
    if (!(button instanceof HTMLElement)) return;

    const product = button.getAttribute("data-product");
    const priceAttr = button.getAttribute("data-price");
    const price = priceAttr ? Number(priceAttr) : 0;

    if (!product) return;

    const productParsed = JSON.parse(product)

    const cartEvent = new CustomEvent(UPDATE_CART, {
      detail: {
        product: productParsed,
        price,
      },
    });

    window.dispatchEvent(cartEvent);
  });
</script>
<script>
  /** @typedef {import("./Checkout.types").Product} Product */

  import { mergeCartItems } from "./merge-cart-items"
  import {
    CLEAR_CART,
    REPLACE_CART,
    UPDATE_CART,
    CART_ITEMS,
    CART_TOTAL,
  } from "./cart-actions";
  /**
   *
   * Cart receives events and updates the cart
   *
   */

  function setStorageDefaults() {
    if (!localStorage.getItem(CART_ITEMS)) {
      localStorage.setItem(CART_ITEMS, JSON.stringify([]));
    }
    if (!localStorage.getItem(CART_TOTAL)) {
      localStorage.setItem(CART_TOTAL, JSON.stringify(0));
    }
  }

  function getCartItems() {
    const cartItemsRaw = localStorage.getItem(CART_ITEMS);
    try {
      return cartItemsRaw ? JSON.parse(cartItemsRaw) : [];
    } catch {
      return [];
    }
  }

  function getCartTotal() {
    const cartTotalRaw = localStorage.getItem(CART_TOTAL);
    const parsed = cartTotalRaw ? JSON.parse(cartTotalRaw) : 0;
    return Number(parsed) || 0;
  }

  function getCartItemQuantity(cartItems) {
    return cartItems.reduce((total, item) => total + (item.quantity || 1), 0);
  }

  /**
   * 
   * @param {Product[]} items
   * @returns {void} 
   */
  function setCartItems(items) {
    localStorage.setItem(CART_ITEMS, JSON.stringify(items));
  }

  /**
   * @param {number} total 
   */
  function setCartTotal(total) {
    localStorage.setItem(CART_TOTAL, JSON.stringify(total));
  }

  function updateIndicators(itemsCount = 0, total = 0) {
    const itemIndicator = document.querySelector("#item-indicator");
    const dropdownItemIndicator = document.querySelector(
      "#dropdown-item-indicator",
    );
    const totalCostIndicator = document.querySelector("#total-cost-indicator");

    if (itemIndicator instanceof HTMLElement) {
      itemIndicator.innerText = `${itemsCount}`;
    }
    if (dropdownItemIndicator instanceof HTMLElement) {
      dropdownItemIndicator.innerText = `${itemsCount}`;
    }
    if (totalCostIndicator instanceof HTMLElement) {
      totalCostIndicator.innerText = `${total.toFixed(2)}`;
    }
  }

  window.addEventListener("DOMContentLoaded", () => {
    setStorageDefaults();

    const initialItems = getCartItems();
    const initialTotal = getCartTotal();
    const quantity = getCartItemQuantity(initialItems);

    updateIndicators(quantity, initialTotal);
  });
  window.addEventListener(UPDATE_CART, (event) => {
    const { product, price } = event.detail || {};

    if (!product || price == null) return;
    
    const items = getCartItems();
    const total = getCartTotal();

    const newCartItems = mergeCartItems(items, [product])
    const quantity = getCartItemQuantity(newCartItems);

    setCartItems(newCartItems)
    setCartTotal(total + price);

    updateIndicators(quantity, total + price);
  });
  window.addEventListener(REPLACE_CART, (event) => {
    const { items, carttotal } = event.detail || {};

    if (!items || carttotal == null) return;

    console.log(`replace cart: `, items.length)

    setCartItems(items);
    setCartTotal(carttotal);

    const quantity = getCartItemQuantity(items)

    updateIndicators(quantity, carttotal);
  });
  window.addEventListener(CLEAR_CART, () => {
    setCartItems([]);
    setCartTotal(0);
    localStorage.setItem(CART_ITEMS, JSON.stringify([]));
    localStorage.setItem(CART_TOTAL, '0');
    updateIndicators(0, 0)
  });
</script>
<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-primary">
    <div class="indicator flex gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-secondary"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
        ></path>
      </svg>
      <span id="item-indicator" class="badge badge-sm">0</span>
    </div>
  </div>
  <div
    tabindex="0"
    class="card card-compact dropdown-content bg-base-200 z-1 mt-3 w-52 shadow-xl"
  >
    <div class="card-body">
      <span class="text-lg font-bold"
        ><span id="dropdown-item-indicator">0</span> Items</span
      >
      <span class="text-info"
        >Subtotal: &pound;<span id="total-cost-indicator">00.00</span></span
      >
      <div class="card-actions">
        <a href={`/${locale}/your-cart`} class="btn btn-primary btn-block"
          >View cart</a
        >
      </div>
    </div>
  </div>
</div>
