---
<<<<<<< HEAD
import MiniCart from "./MiniCart.astro";
import Logo from "../assets/logo.png";
=======
import MiniCart from "./MiniCart.astro"
import Logo from "../assets/logo.png"
import LanguagePicker from "./LanguagePicker.astro"
>>>>>>> b72636b (Language switcher positioning finished)

const { navlinks } = Astro.props;
---

<div class="navbar bg-base-100 shadow-sm mb-6">
<<<<<<< HEAD
  <div class="container mx-auto flex">
    <div class="flex-1 navbar-start">
      <div class="dropdown lg:hidden">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"></path>
          </svg>
        </div>
        <nav>
          <ul
            tabindex="-1"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
          >
            {
              navlinks.map((link) => (
                <li>
                  <a href={link.url}>{link.title}</a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <a href="/" class="px-2">
        <img src={Logo.src} alt="Logo" class="h-12" />
      </a>
      <nav class="hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          {
            navlinks.map((link) => (
              <li>
                <a href={link.url}>{link.title}</a>
              </li>
            ))
          }
        </ul>
      </nav>
=======
  <div class="navbar-start">
    <div class="dropdown xl:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        {navlinks.map(link => (
          <li><a href={link.url}>{link.title}</a></li>
        ))}
        <li><LanguagePicker /></li>
      </ul>
    </div>
    <a href="/" class="px-2 btn btn-ghost normal-case">
      <img src={Logo.src} alt="Logo" class="h-8 xl:h-12" />
    </a>
    <div class="hidden xl:flex">
      <ul class="menu menu-horizontal px-1">
        {navlinks.map(link => (
          <li><a href={link.url}>{link.title}</a></li>
        ))}
      </ul>
>>>>>>> b72636b (Language switcher positioning finished)
    </div>
    <MiniCart />
  </div>
<<<<<<< HEAD
=======
  <div class="xl:flex xl:gap-2 navbar-end">
    <span class="hidden lg:block">
      <LanguagePicker />
    </span>
    <MiniCart />
  </div>  
>>>>>>> b72636b (Language switcher positioning finished)
</div>
