---
import Layout from "../../../layouts/Layout.astro";

import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog");
import { getLangFromUrl } from "../../../i18n/utils";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "cy" } }];
}

const lang = getLangFromUrl(Astro.url);

const localisedBlogPosts = allBlogPosts
  .filter((portfolioPost) => portfolioPost.data.locale === lang)
  .sort((a, b) => b.data.title.localeCompare(a.data.title, lang));
---

<Layout
  locale={lang}
  pageTitle="The Blog"
  pageDescription="Some thoughts, ideas and reflections on our work and areas of expertise."
  pageUrl={`/${lang}/blog/`}
>
  <section class="container">
    <h2 class="colour-special">Blog</h2>
    <p>
      On the blog we share thoughts, ideas and reflections on our work and areas
      of expertise.
    </p>
    {
      !localisedBlogPosts.length && (
        <div>
          <p>Mae'n ddrwg gen i, dim erthygylau yn Gymraeg eto.</p>
        </div>
      )
    }
    <div>
      {
        localisedBlogPosts?.map((blogItem) => (
          <article>
            <a href={`/${lang}/blog/${blogItem.id.replace(/\-$/, "")}/`}>
              <img class="size-s" src={`${blogItem.data.image}`} title="" />
            </a>
            <div>
              <h4>
                <a href={`/${lang}/blog/${blogItem.id.replace(/\-$/, "")}/`}>
                  {blogItem.data.title}
                </a>
              </h4>
              <p>{blogItem.data.description}</p>
              <a href={`/${lang}/blog/${blogItem.id.replace(/\-$/, "")}/`}>
                View article &raquo;
              </a>
            </div>
          </article>
        ))
      }
    </div>
  </section>
</Layout>
