---
import { getCollection, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { defaultLang, languages } from "../../../i18n/translations";

export async function getStaticPaths() {
  const allPosts = await getCollection("portfolio");

  // 1. Use posts in the default language as the "master list"
  const basePosts = allPosts.filter((post) => post.data.locale === defaultLang);

  return Object.entries(languages).flatMap(([locale]) => {
    return basePosts.map((basePost) => {
      // Try to find a translated post with the same id (accounting for trailing dash)
      const baseId = basePost.id.replace(/\-$/, "");
      const translatedPost = allPosts.find(
        (p) => p.data.locale === locale && p.id.replace(/\-$/, "") === baseId
      );

      return {
        params: { locale, slug: baseId },
        props: {
          post: translatedPost || basePost, // Provide `post` prop expected by the page
          isFallback: !translatedPost,
        },
      };
    });
  });
}

const { post, isFallback } = Astro.props;
const t = useTranslations(post.data.locale);
const { Content } = await render(post);

const lang = getLangFromUrl(Astro.url);
---

<Layout
  locale={lang}
  pageTitle={post.data.title}
  pageDescription={post.data.description}
  pageUrl={`/${lang}/portfolio/${Astro.params.slug}/`}
>
  <section class="container">
    {
      isFallback && (
        <div>
          <p>Mae'n ddrwg gen i, dim cyfieithiad ar gael eto</p>
        </div>
      )
    }
    <h1>{post.data.title}</h1>
    <img src={post.data.image} />
    <div>
      <strong>{t("Brief")}:</strong>&nbsp;{post.data.description}<br />
      <strong>{t("Client")}:</strong>&nbsp;
      {post.data.client}<br />
      <div>
        <strong>{t("Tags")}:</strong>
        {post.data.tags.map((tag) => (
          <a 
            href={`/${lang}/portfolio/?tags=${tag}`} 
            title={`See all ${tag} articles`}
          >{tag}</a>
        ))}
      </div><br />
    </div>
    <article>
      <Content />
    </article>
    <a href={`/${lang}/portfolio/`} class="btn">&laquo; {t("back to projects")}</a>
  </section>
</Layout>
