---
import Layout from "../../../layouts/Layout.astro";

import { getCollection } from "astro:content";
const allPortfolioPosts = await getCollection("portfolio");
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "cy" } }];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang)

const localisedPortfolioPosts = allPortfolioPosts
  .filter((portfolioPost) => portfolioPost.data.locale === lang)
  .sort((a, b) => b.data.title.localeCompare(a.data.title, lang));

const justUniqueTags = [
  ...new Set(
    localisedPortfolioPosts.flatMap((portfoliopost) => portfoliopost.data.tags)
  ),
];

---
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const allUniqueTagButtons = document.querySelectorAll("[data-tag]");
    const allPortfolioItems = document.querySelectorAll("article.callout");

    const urlParams = new URLSearchParams(window.location.search);
    const tagsParam = urlParams.get("tags");

    if (tagsParam) {
      const activeTags = tagsParam
        .toLowerCase()
        .split(",")
        .map((tag) => tag.trim());

      Array.from(allUniqueTagButtons).forEach((button) =>
        button.classList.remove("active")
      );

      activeTags.forEach((tag) => {
        const matchingButton = document.querySelector(`[data-tag="${tag}"]`);
        if (!matchingButton) return;
        matchingButton.classList.add("active");
      });

      // Filter portfolio items
      allPortfolioItems.forEach((item) => {
        const tags = item.getAttribute("data-tags");
        const itemTags = tags?.split(" ") || [];

        const hasMatchingTag = activeTags.some((activeTag) =>
          itemTags.includes(activeTag)
        );

        if (hasMatchingTag) {
          item.removeAttribute("hidden");
        } else {
          item.setAttribute("hidden", "");
        }
      });
    }

    allUniqueTagButtons.forEach((uniqueTagButton) => {
      uniqueTagButton.addEventListener("click", () => {
        const clickedTag = uniqueTagButton.getAttribute("data-tag");

        if (!clickedTag) return;

        // Update URL with new tag
        const newUrlParams = new URLSearchParams(window.location.search);

        allUniqueTagButtons.forEach((button) =>
          button.classList.remove("active")
        );

        uniqueTagButton.classList.add("active");

        if (clickedTag === "all") {
          newUrlParams.delete("tags");
          Array.from(allPortfolioItems).map((item) =>
            item.removeAttribute("hidden")
          );
        } else {
          newUrlParams.set("tags", clickedTag);

          allPortfolioItems.forEach((item) => {
            item.removeAttribute("hidden");

            const tags = item.getAttribute("data-tags");
            const itemTags = tags?.split(" ");

            if (itemTags?.includes(clickedTag)) {
              item.removeAttribute("hidden");
            } else {
              item.setAttribute("hidden", "");
            }
          });
        }

        const newUrl = `${window.location.pathname}${newUrlParams.toString() ? "?" + newUrlParams.toString() : ""}`;
        window.history.pushState({}, "", newUrl);
      });
    });
  });
</script>
<Layout
  locale={lang}
  pageTitle={t("Our Portfolio")}
  pageDescription="Some of the recent projects we've enjoyed working on."
  pageUrl={`/${lang}/portfolio/`}
>
  <section>
    <h2>{t("Our Portfolio")}</h2>
    <p>
      {t("Passionate brands for passionate people and organisations, vibrant designs for the public and business consumers, and advanced technical know-how.")}
    </p>
    <p>{t("Here are some of our favourites")}.</p>
    <div>
      <button type="button" class="btn" data-tag="all" title="See all articles">all</button>
      {
        justUniqueTags.map((tag) => (
          <button
            type="button"
            class="btn"
            data-tag={tag.toLocaleLowerCase()}
            title={`See all ${tag} articles`}
          >
            {tag}
          </button>
        ))
      }
    </div>
    <div>
      {
        localisedPortfolioPosts?.map((portfolioItem) => (
          <article
            data-tags={portfolioItem.data.tags
              .map((tag) => tag.toLocaleLowerCase())
              .join(" ")}
          >
            <a
              href={`/${lang}/portfolio/${portfolioItem.id.replace(/\-$/, "")}/`}
            >
              <img
                src={`${portfolioItem.data.image}`}
                title=""
              />
            </a>
            <div>
              <h4>
                <a
                  href={`/${lang}/portfolio/${portfolioItem.id.replace(/\-$/, "")}/`}
                >
                  {portfolioItem.data.title}
                </a>
              </h4>
              <p>{portfolioItem.data.description}</p>
              <div>
                {portfolioItem.data.tags.map((tag) => (
                  <span
                  >
                    {tag}
                  </span>
                ))}
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </section>
</Layout>
