---
import "../styles/global.css";

import { SEO } from "astro-seo";
import logoSimple from "../assets/logo.png";
import { useTranslations } from "../i18n/utils"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import retrieveData from "../components/datocms/connector";

const { pageTitle, pageDescription, pageType, pageImage, pageUrl = "", locale } =
  Astro.props;
  
const t = useTranslations(locale);
const globalSEO = await retrieveData("fetchGlobalSeo")

const { globalSeo } = globalSEO._site
const { fallbackSeo, titleSuffix } = globalSeo
const { title, description, image } = fallbackSeo

const metaTitle = pageTitle ? `${pageTitle} - ${title} ${titleSuffix}` : `Home - ${title} ${titleSuffix}`;

const metaDescription =
  pageDescription ??
  description;

const type = pageType ?? "Page";
const shareImage = pageImage?.src ?? image;

const navLinks = [
  {
    title: t("Home"),
    url: locale === 'en' ? `/` : `/${locale}/`,
  },
  {
    title: t("Products"),
    url: `/${locale}/products/`,
  },
  {
    title: t("About"),
    url: `/${locale}/about`,
  },
  {
    title: t("Contact"),
    url: `/${locale}/contact/`,
  },
];

const domain = "https://hedesigns.cymru"

---
<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <script async src="https://scripts.withcabin.com/hello.js"></script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" href="/TitanOne-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href={logoSimple.src} as="image">
    <SEO
      title={metaTitle}
      description={metaDescription}
      canonical={`${domain}${pageUrl}`}
      openGraph={{
        basic: {
          title: metaTitle,
          type,
          image: shareImage,
          url: `${domain}${pageUrl}`
        },
      }}
    />
  </head>
  <body>
    <header>
      <Navbar navlinks={navLinks} />
    </header>
    <main id="main" h-full>
      <slot />
    </main>
    <Footer navLinks={navLinks} description={metaDescription} />
  </body>
</html>
