---
import "../styles/global.css";

import { SEO } from "astro-seo";
import shareCard from "../assets/default-sharecard.png";
import logoSimple from "../assets/logo.png";
import { useTranslations } from "../i18n/utils"
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const { pageTitle, pageDescription, pageType, pageImage, pageUrl = "", locale } =
  Astro.props;
  
const t = useTranslations(locale);

const byline = t("Web Creation + Security")

const title = pageTitle ? `${pageTitle} - Rhedyn ${byline}` : `Home - Rhedyn ${byline}`;
const description =
  pageDescription ??
  "Rhedyn are creative builders. We love building secure, handmade websites and improving website security.";

const type = pageType ?? "Page";
const image = pageImage?.src ?? shareCard.src;



const navLinks = [
  {
    title: t("Home"),
    url: locale === 'en' ? `/` : `/${locale}/`,
  },
  {
    title: t("Services"),
    url: locale === 'en' ? `/#services` : `/${locale}/#services`,
  },
  {
    title: t("Products"),
    url: `/${locale}/products/`,
  },
  {
    title: t("About"),
    url: locale === 'en' ? `/#about` : `/${locale}/#about`,
  },
  {
    title: t("Contact"),
    url: `/${locale}/contact/`,
  },
];

const domain = "https://rhedyn.cymru"

---
<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <script async src="https://scripts.withcabin.com/hello.js"></script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" href="/TitanOne-Regular.woff" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href={logoSimple.src} as="image">
    <SEO
      title={title}
      description={description}
      canonical={`${domain}${pageUrl}`}
      openGraph={{
        basic: {
          title,
          type,
          image,
          url: `${domain}${pageUrl}`
        },
      }}
    />
  </head>
  <body>
    <header>
      <Navbar navlinks={navLinks} />
    </header>
    <main id="main" h-full>
      <slot />
    </main>
    <Footer navLinks={navLinks} />
  </body>
</html>
