---
import { getLangFromUrl } from "../i18n/utils";
import Layout from "./Layout.astro";

const { pageUrl, pageTitle, pageDescription } = Astro.props

export async function getStaticPaths() {
  return [
    { params: { locale: 'en' } },
    { params: { locale: 'cy' } },
  ];
}

const lang = getLangFromUrl(Astro.url)
---
<Layout locale={lang} pageTitle={pageTitle} pageDescription={pageDescription} pageUrl={pageUrl}>
  <div class="container max-w-3xl mx-auto mb-20 px-8">
    <h1 class="colour-special text-4xl my-8">{pageTitle}</h1>
    <slot />
  </div>
</Layout>