---
import retrieveData from "../../../components/datocms/connector";
import { getLangFromUrl } from "../../../i18n/utils";
import PageLayout from "../../../layouts/ProductLayout.astro";
import { languages } from "../../../i18n/translations";
import { StructuredText } from "../../../components/datocms";

// Structured text components
import { HeadingWithAnchorLink } from "../../../components/datocms/HeadingWithAnchorLink";
import { PageInline } from "../../../components/datocms/inlineRecord/PageInline";
import { PageLink } from "../../../components/datocms/linkToRecord/PageLink";
import { VideoBlock } from "../../../components/datocms/blocks/VideoBlock";
import { ImageBlock } from "../../../components/datocms/blocks/ImageBlock";
import { ImageGalleryBlock } from "../../../components/datocms/blocks/ImageGalleryBlock";
import AddToCartButton from "../../../components/AddToCartButton.astro";

export async function getStaticPaths() {
  const data = await retrieveData("fetchAllProducts");
  const allProducts = data?.allProducts || [];

  const paths = [];
  for (const page of allProducts) {
    const productData = await retrieveData("fetchProduct", {
      slug: { eq: page.slug },
    });

    for (const locale of Object.keys(languages)) {
      paths.push({
        params: {
          locale,
          slug: page.slug,
        },
        props: {
          page,
          productData,
        },
      });
    }
  }

  return paths;
}

const { page, productData } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<PageLayout
  pageTitle={page.title}
  pageDescription={productData.product.description}
  pageUrl={`products/${Astro.params.slug}/`}
  pageImage={productData.product.images[0].url}
>
  <article class="mb-6 max-w-7xl mx-auto">
    <div class="lg:hidden">
      <div class="breadcrumbs text-sm">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href={`/${lang}/product/`}>Products</a></li>
          <li>{page.title}</li>
        </ul>
      </div>
      <h1 class="colour-special text-3xl mb-2">{page.title}</h1>
    </div>
    <div class="grid lg:grid-cols-2 gap-6">
      {
        productData.product.images && (
          <div class="product-images flex overflow-x-auto scroll-snap-type-x-mandatory scroll-smooth">
            {productData.product.images.map((image) => (
              <figure class="flex-shrink-0 w-full scroll-snap-align-start scroll-snap-stop-always">
                <img
                  src={image.url}
                  alt={image.alt}
                  class="rounded w-full h-full object-cover"
                />
              </figure>
            ))}
          </div>
        )
      }
      <div>
        <div class="hidden lg:block">
          <div class="breadcrumbs text-sm">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href={`/${lang}/products/`}>Products</a></li>
            <li>{page.title}</li>
          </ul>
        </div>
        <h1 class="colour-special text-3xl mb-2">{page.title}</h1>
        </div>
        <div class="[&_p]:text-md [&_p]:my-4 [&_h2]:mt-8 [&_h2]:mb-4 [&_h2]:text-2xl [&_ul]:ml-4 [&_ul]:list-disc">
          <StructuredText
          data={productData.product.structuredText}
          blockComponents={{
            ImageBlockRecord: ImageBlock,
            ImageGalleryBlockRecord: ImageGalleryBlock,
            VideoBlockRecord: VideoBlock,
          }}
          linkToRecordComponents={{
            PageRecord: PageLink,
          }}
          inlineRecordComponents={{
            PageRecord: PageInline,
          }}
          nodeOverrides={{
            heading: HeadingWithAnchorLink,
          }}
        />
        </div>
        <hr class="my-4" />
        <div class="flex justify-between items-center">
          &pound;{productData.product.price}
          <AddToCartButton
            product={productData.product}
            price={productData.product.price}
          />
        </div>
      </div>
    </div>
  </article>
</PageLayout>
