---
import Layout from "../../../layouts/Layout.astro";
import { getLangFromUrl } from "../../../i18n/utils";
import retrieveData from "../../../components/datocms/connector";
import AddToCartButton from "../../../components/AddToCartButton.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "cy" } }];
}

const data = await retrieveData("fetchAllProducts");
const allProducts = data?.allProducts || [];

const nonTheocraticProducts = allProducts.filter((product) => 
  !product.category.some((category) => category.category === "Theocratic")
)

const lang = getLangFromUrl(Astro.url)
---
<Layout 
  pageDescription="Embroidered bags, tote bags and other custom embroidery products made exclusively in North Wales"
  pageTitle="All Products"
  pageUrl="products"
  locale={lang}
>
<section class="container px-6 mx-auto py-16">
  <div class="card bg-base-200 max-w-2xl mx-auto p-16">
    <h1 class="text-2xl mb-4">All products</h1>
    <p class="mb-6">All of our designs are hand made in Wales. We pride ourselves on procuring the finest fabrics which we then carefully embroider by hand on our professional machinery.</p>
  </div>
</section>
  <section class="container px-6 m-auto" id="intro">
    <div class="flex gap-4">
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
        {
          nonTheocraticProducts.map((product) => (
            <article class="card bg-base-100 shadow-sm">
              <a href={product.slug}>
                {product.images && (
                  <div class="product-images">
                      <figure>
                        <img src={product.images[0].url} alt={product.images[0].alt} class="rounded" />
                      </figure>
                  </div>
                )}
              </a>
              <div class="card-body">
                <h2 class="card-title">
                  <a href={product.slug}>{product.title}</a>
                </h2>
                <p class="mb-4">{product.description}</p>
                <div class="card-actions justify-between items-center">
                  &pound;{product.price}
                  <AddToCartButton product={product} price={product.price} />
                </div>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </section>
  <section class="container px-6 py-16 mx-auto">
    <div class="card bg-base-300 max-w-2xl mx-auto p-16">
      <h2 class="text-xl mb-4">Custom designs available</h2>
      <p class="mb-6">If you're struggling to find something you like, or would like a personalised item, please get in touch via our contact form. We'd be happy to help!</p>
      <a href={`${lang}/contact/`} class="btn btn-primary mr-auto">Contact form</a>
    </div>
  </section>
</Layout>
